<div class="container">
  <div class="btn-group btn-group-justified" role="group">
    <div class="btn-group" role="group"
      *ngFor="let preset of presets">
      <button type="button" class="btn btn-default"
        (click)="onPresetClick(preset)">
        {{preset.name}}
      </button>
    </div>
  </div>
  <div class="col-md-3 col-sm-4 col-xs-6" *ngFor="let course of courses; let courseIndex = index; trackBy:customTrackBy">
    <h3 class="course-title text-center" (click)="onCourseClick(courses[courseIndex])">{{course.name}}</h3>
    <div class="wrapper text-center">
      <div class="btn-group-vertical" data-toggle="buttons">
        <button type="button" class="btn"
          *ngFor="let star of courses[courseIndex].stars; let starIndex = index; trackBy:customTrackBy"
          [ngClass]="courses[courseIndex].stars[starIndex].checked ? 'btn-primary' : 'btn-default'"
          (click)="onStarChange(star)">
          {{star.name}}
        </button>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="col-md-6">
    <h3>How to use</h3>
    <p>Starting with one of the presets above, toggle various file flags to your liking. Select the file slot you want
      the practice file to be stored in, then use the GameShark code appropriate to your game version to produce the
      desired result.</p>
    <p class="icons text-center">
      <a href="https://github.com/brikr/practice-file-creator" target="_blank">
        <fa-icon [icon]="faGithub" size="4x"></fa-icon>
      </a>
      <a href="https://twitter.com/_minikori" target="_blank">
        <fa-icon [icon]="faTwitter" size="4x"></fa-icon>
      </a>
      <a href="https://discord.gg/0Si1OtnB7Ylmwkwr" target="_blank">
        <fa-icon [icon]="faDiscord" size="4x"></fa-icon>
      </a>
    </p>
  </div>
  <app-code [courses]="courses"></app-code>
</div>