<!--The content below is only a placeholder and can be replaced.-->
<h1 class="text-center">
  {{title}}
  <small>by minikori</small>
</h1>
<app-courses></app-courses>
<footer class="footer text-center">
  <a href="https://github.com/brikr/practice-file-creator" target="_blank">
    <fa-icon [icon]="faGithub" size="4x"></fa-icon>
  </a>
  <a href="https://twitter.com/_minikori" target="_blank">
    <fa-icon [icon]="faTwitter" size="4x"></fa-icon>
  </a>
  <a href="https://discord.gg/0Si1OtnB7Ylmwkwr" target="_blank">
    <fa-icon [icon]="faDiscord" size="4x"></fa-icon>
  </a>
</footer>